<nav class="<%= navbar_class %> yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="<%= navbar_brand_class %>" href="index.html">振华学校</a>
        </div> <!-- navbar-header -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="<%= navbar_nav_class %>">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">关于我们</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="introduce.html">学校简介</a></li>
                        <li><a href="motto.html">振华校训</a></li>
                        <li><a href="calendar.html">历史沿革</a></li>
                        <li><a href="honor.html">学校荣誉</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">课程资源</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="lesson.html">课程介绍</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">招生信息</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="age.html">入学年龄指南</a></li>
                        <li><a href="process.html">入学流程</a></li>
                        <li><a href="visit.html">家长预约参观</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">校园生活</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="#">入学年龄指南</a></li>
                        <li><a href="#">招生政策</a></li>
                        <li><a href="#">入学申请流程</a></li>
                        <li><a href="#">入学申请表</a></li>
                        <li><a href="#">家长问答</a></li>
                    </ul>
                </li> 
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">招聘</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="#">入学年龄指南</a></li>
                        <li><a href="#">招生政策</a></li>
                        <li><a href="#">入学申请流程</a></li>
                        <li><a href="#">入学申请表</a></li>
                        <li><a href="#">家长问答</a></li>
                    </ul>
                </li> 
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">联系我们</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="#">入学年龄指南</a></li>
                        <li><a href="#">招生政策</a></li>
                        <li><a href="#">入学申请流程</a></li>
                        <li><a href="#">入学申请表</a></li>
                        <li><a href="#">家长问答</a></li>
                    </ul>
                </li>                                               
             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>
